@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --primary-color: rgb(54, 1, 83);
  --primary-color-dark: rgb(34, 1, 52);
  --font-color: rgb(39, 39, 39);
  --font: 'Open Sans', sans-serif;
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--font-color);
  font-size: 1.2em;
}

.container{
  width: 600px;
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-family: var(--font);
  border-radius: 5px;
}
.table th, td {
  text-align: left;
  width: 65%;
}
form {
  width: 100%;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
form input {
  font-size: 1.3rem;
  height: 40px;
  margin-bottom: 25px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}
form button {
  border: none;
  border-radius: .4rem;
  background-color: var(--primary-color);
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
form button:hover {
  background-color: var(--primary-color-dark);
}
.result {
  background-color: aqua;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem;
  color: #fff;
  background-color: var(--primary-color-dark);
  border-radius: .3rem;
  transition: .3s;
}